* {
	font-family: 'Helvetica';
}
table {
	font-family: 'Helvetica';
	font-size: 70px;
	color: #000000;
	border: 3px solid;
	border-collapse: collapse;
	top: 10vh;
	margin-top: 5%;
}

td {
	border: 3px solid;
	width: 100px;
	height: 100px;
	border-color: #000000;
	cursor: pointer;
}

body {
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	text-align: center;
}

.game-table {
	position: relative;
	display: inline-block;
	justify-content: center;
}

h1 {
	font-size: 4rem;
	margin-top: 0.5em;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
}

p {
	font-size: 1.5rem;
	font-weight: bold;
	position: absolute;
}

.madeby {
	right: 1%;
	bottom: 1%;
}

.version {
	left: 1%;
	bottom: 1%;
}

.move-counter {
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

.reset-button {
	position: absolute;
	right: 0.3em;
	top: 0.3em;
	font-size: 1.8rem;
	background: #333333;
	border-radius: 3rem;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	cursor: pointer;
	color: white;
	padding: 0.4em;
	border: 0.08em solid #00d7c3;
}

.reset-button:hover {
	color: #00d7c3;
}
