* {
	font-family: 'Helvetica';
}
table {
	font-family: 'Helvetica';
	font-size: 70px;
	color: #000000;
	border: 3px solid;
	border-collapse: collapse;
	top: 10vh;
	margin-top: 5%;
}

td {
	border: 3px solid;
	width: 100px;
	height: 100px;
	border-color: #000000;
	cursor: pointer;
}

body {
	background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
	text-align: center;
}

.game-table {
	position: relative;
	display: inline-block;
	justify-content: center;
}

h1 {
	font-size: 4rem;
	margin-top: 0.5em;
	margin-bottom: auto;
	display: flex;
	justify-content: center;
}

p {
	font-size: 1.5rem;
	font-weight: bold;
	position: absolute;
}

.madeby {
	right: 1%;
	bottom: 1%;
}

.version {
	left: 1%;
	bottom: 1%;
}

.move-counter {
	font-size: 1.5rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
}

button {
	position: absolute;
	border-radius: 0.8rem;
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	padding: 0.4em;
	border: 0;
	cursor: pointer;
}

.reset-button {
	font-size: 1.8rem;
	right: 0.3em;
	top: 0.3em;
	background-color: #ff0000;
	color: #ffffff;
}

.reset-button:hover {
	box-shadow: 0px 0px 12px 0px #ff5454;
}

.reset-button:active {
	font-size: 1.7rem;
}

.toggle-button {
	font-size: 1.22rem;
	right: 0.31em;
	top: 3.8em;
	background-color: #fd641d;
	color: #fff;
}

.toggle-button:hover {
	box-shadow: 0px 0px 12px 0px #ff6d6d;
}

.toggle-button:active {
	font-size: 1.15rem;
}
